#map {
    height: 100%;
    width: 100%;
    margin: auto;
}

.App-header {
    background-color: #C28E0E;
    grid-area: 1 / 1 / 2 / -1;
    padding: 20px;
    color: black;
}

.App-title {
    font-size: 1.5em;
}

.App {
    text-align: center;
}

.App-logo {
    height: 60px;
}

#grid-container {
    display: grid;
    width: 95vw;
    margin: auto;
    height: 100vh;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 140px auto;
    grid-gap: 5px;
}

#grid-map {
    grid-area: 2 / 1 / -1 / 2;
}

#grid-sidebar {
    grid-area: 2 / 2 / -1 / -1;
}