#map {
    height: 600px;
    width: 100vw;
    margin: auto;
}

.App-header {
    background-color: #C28E0E;
    height: 160px;
    padding: 20px;
    color: black;
}

.App-title {
    font-size: 1.5em;
}

.App {
    text-align: center;
}

.App-logo {
    height: 120px;
}
